.Zz-icon {
  --Zz-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--Zz-icon-color);
  font-size: inherit;
}

/* postCSS each插件 */
@each $val in primary,info,success,warning,danger {
  .Zz-icon--$(val) {
    --Zz-icon-color: var(--Zz-color-$(val));
  }
}

